
.Payment{
    width: 150px;
    margin: 0 auto;
}
.return-cta {
    outline: 0;
    border: 0;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
    color: white;
    background: #8e2de2;
    border-bottom: 3px solid;
  }